* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
}

.years {
  display: flex;
  flex-direction: column;
}

.year {
}

.semesters {
  display: flex;
  justify-content: space-evenly;
  border: black solid 1px;
}

.semester {
  border: black solid 1px;
  padding: 10px 30px;
  min-height: 200px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.course-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

i {
  margin-left: 5px;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.done {
  text-decoration: line-through;
}

.hidden {
  display: none;
}
